/* Fonts */
/* Poppins and Dosis */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Inter:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap");

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Main text fonts */
  font-family: "Poppins", sans-serif;
  /* Button text font */
  /* font-family: "Dosis", sans-serif; */
}

/* fuild container */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px;
}

/* Remove bullet buttons */
ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header styles */
.header {
  background: linear-gradient(0deg, rgba(7, 7, 7, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/hero.jpg);
  background-position: center center;
  background-size: cover;
}

.navigation-items {
  gap: 27px;
}

.icons {
  gap: 10px;
  cursor: pointer;
}

.hero-content {
  width: 100%;
  justify-content: center;
  padding: 215px 0;
}
.hero-text {
  background-color: rgba(255, 255, 255, 0.83);
  width: 571px;
  padding: 70px;
  text-align: center;
}

.hero-text h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
}

.collection {
  display: block;
}

.link-btn,
.link-btn:link,
.link-btn:active {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

/* Furniture and Basket collection section */
.furniture-basket-content {
  display: grid;
  margin: 53px 0;
  gap: 21px;
}

.collection-img {
  width: 100%;
  height: auto;
}

.furniture,
.basket {
  position: relative;
}

.collection-content {
  position: absolute;
  top: 10%;
  left: 10%;
}

.collection-content h4 {
  font-size: 20px;
  font-weight: 300;
}

.collection-btn,
.collection-btn:link,
.collection-btn:active {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

/* Responsive Mobile Navigation */
@media (max-width: 745px) {
  .navigation-list {
    display: none;
  }
}

@media (min-width: 375px) {
  .hero-text h1 {
    font-size: 25px;
  }
}

@media (min-width: 577px) {
  .collection {
    display: inline;
  }

  .collection-content {
    top: 20%;
    left: 10%;
  }

  .collection-content h4 {
    font-size: 25px;
  }

  .furniture-basket-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .collection-btn,
  .collection-btn:link,
  .collection-btn:active {
    font-size: 20px;
  }
}
