/* Responsive Mobile Navigation */
@media (max-width: 745px) {
  .navigation-list {
    display: none;
  }

  .hero-text h1 {
    font-size: 25px;
  }

  .collection {
    display: inline;
  }
}

@media (min-width: 375px) {
  .hero-text h1 {
    font-size: 25px;
  }
}

@media (min-width: 577px) {
  .collection {
    display: inline;
  }

  .collection-content {
    top: 20%;
    left: 10%;
  }

  .collection-content h4 {
    font-size: 25px;
  }

  .furniture-basket-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .collection-btn,
  .collection-btn:link,
  .collection-btn:active {
    font-size: 20px;
  }
}

/* Fonts */
/* Poppins and Dosis */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Inter:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap");

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Main text fonts */
  font-family: "Poppins", sans-serif;
  /* Button text font */
  /* font-family: "Dosis", sans-serif; */
}

img {
  max-width: 100%;
  height: auto;
}

/* fuild container */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px;
}

/* Remove bullet buttons */
ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header styles */
.header {
  background: linear-gradient(0deg, rgba(7, 7, 7, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/hero.jpg);
  background-position: center center;
  background-size: cover;
}

.navigation-items {
  gap: 27px;
}

.icons {
  gap: 10px;
  cursor: pointer;
}

.hero-content {
  width: 100%;
  justify-content: center;
  padding: 215px 0;
}
.hero-text {
  background-color: rgba(255, 255, 255, 0.83);
  width: 571px;
  padding: 70px;
  text-align: center;
}

.hero-text h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 300;
}

.collection {
  display: block;
}

.link-btn,
.link-btn:link,
.link-btn:active {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

/* Furniture and Basket collection section */
.furniture-basket-content {
  display: grid;
  margin: 53px 0;
  gap: 25px;
}

.collection-img {
  width: 100%;
  height: auto;
}

.furniture,
.basket {
  position: relative;
}

.collection-content {
  position: absolute;
  top: 10%;
  left: 10%;
}

.collection-content h4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}

.collection-btn,
.collection-btn:link,
.collection-btn:active {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

/* styles for best-product section */
/* .best-products .container .product-items .group-one .flexy, */
/* .group-two-container .flexy  { */
.flexy {
  display: flex;
  /* margin: 10px 0; */
  gap: 20px;
  justify-content: center;
}

.container h2 {
  text-align: center;
}

.products {
  position: relative;
  max-width: auto;
}

.products > .price {
  position: absolute;
  top: 150px;
  left: 100px;
  font-size: 12px;
  text-align: center;
}

.products > p {
  position: absolute;
  top: 100px;
  left: 80px;
  font-size: 12px;
  color: #fff;
}
.container h2 {
  text-decoration: center;
  font-weight: 300;
}

/* recent news  styling*/
.recentnews > P {
  text-align: center;
  color: black;
  font-size: 18px;
  margin-bottom: 20px;
}
.news {
  display: flex;
  align-items: center;
}

.news .news_items:not(last-child) {
  margin-right: 23px;
}

.news .news_items .date {
  position: relative;
  margin-top: -90%;
  left: 9px;
  font-size: 12px;
  background-color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  border: #fff 5px solid;
}

.sfooter {
  margin-top: 50px;
  padding: 38px 0 56px;
  background-color: #efefef;
}

.holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.holder .location {
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
}
.holder .emailaddress {
  display: flex;
  gap: 10px;
  margin-bottom: 3px;
}

.holder .tele {
  display: flex;
  gap: 10px;
}

.subtext {
  font-size: 16px;
  margin-bottom: 20px;
  .collection-btn,
  .collection-btn:link,
  .collection-btn:active {
    font-size: 20px;
  }
}

.input-form {
  height: 30px;
  border: none;
  width: 230px;
  border: 1px solid rgb(230, 224, 224);
}
.form-submit {
  font-size: 12px;
  color: black;

  width: 30px;
  height: 30px;
  margin-left: -4px;
  border: none;
  background: none;
  border: 1px solid rgb(200, 194, 194);
  background-color: #d9d9d9;
  cursor: pointer;
}

::placeholder {
  color: #7a7a7a;
  padding-left: 20px;
  font-family: Poppins;
  font-size: 12px;
}

.copyright {
  margin-top: 20px;
  font: 9px;
  font-family: Poppins;
}

.products {
  display: flex;
  flex-direction: column;
}

.products img {
  width: 100%;
  height: auto;
}

.pname {
  position: relative;
  bottom: 150px;
  color: #fff;
  text-align: center;
  font-family: poppins;
}
.price {
  position: relative;
  bottom: 150px;
  padding-left: 25px;
  color: #fff;
  text-align: center;
}
